<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
 
    <a class="navbar-brand" href="#">Online Bookstore</a>
    
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact Us</a>
        </li>
      </ul>
      <!-- This is for serach-->
      <app-search></app-search> 
      <div class="ml-auto">
        <app-cart-status></app-cart-status>
      </div>     
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Logout
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Login</a>
        </li>        
      </ul>

  
</nav>
<br>
<!-- Page Content -->
<div class="container">

  <router-outlet></router-outlet>

</div>
<!-- /.container -->

<!-- Footer -->
<footer class="py-5 footer">
  <div class="container">
    <p class="m-0 text-center text-dark">
      Copyright &copy; kasimbasha@2021
    </p>
  </div>
  <!-- /.container -->
</footer>